<div id="social-media-links">
    <a href="https://twitter.com/ParanoidPuppies">
        <img src="{{ site.baseurl }}/media/icons/twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.instagram.com/paranoidpuppies/">
        <img src="{{ site.baseurl }}/media/icons/instagram.svg" alt="Instagram">
        <div class="social-media-name">Instagram</div>
    </a>
    <a href="https://t.me/parapups">
        <img src="{{ site.baseurl }}/media/icons/telegram.svg" alt="Telegram">
    </a>
    <a href="https://www.deviantart.com/parapups">
        <img src="{{ site.baseurl }}/media/icons/deviantart.svg" alt="DeviantArt">
    </a>
    <a href="https://parapups.tumblr.com/">
        <img src="{{ site.baseurl }}/media/icons/tumblr.svg" alt="Tumblr">
    </a>
    <a href="http://www.furaffinity.net/user/parapups/">
        <img src="{{ site.baseurl }}/media/icons/fa_logo.png" alt="Furaffinity">
    </a>
    <a href="https://www.youtube.com/channel/UCW9zAx1uzvW6R4QrN2FytRA">
        <img src="{{ site.baseurl }}/media/icons/youtube.svg" alt="YouTube">
    </a>
    <a href="https://meow.social/web/accounts/107256733478803854">
        <img src="{{ site.baseurl }}/media/icons/mastodon.svg" alt="Mastodon">
    </a>
</div>