.content-wrapper {
    margin: 0.5*$spacing-unit $spacing-unit;
}
/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    border: none;
    min-height: 56px;
    background-color: black;
    color: white;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
	float: right;

	.wrapper {
	}

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
		display: inline-flex;
		vertical-align: middle;
		align-items: center;
		line-height: 56px;
		padding: 0 10px;
		vertical-align: middle;

		&:hover {
			text-decoration: none;
			color: gray;
		}
    }

/*
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
    */
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Home Page
 */
#home-header {
    background-color: $grey-color-light;
    text-align: center;

    #parapups-logo {
        padding: 12pt;
        height: 300px;
        img {
            height: 100%;
        }
    }
}

#social-media-links {
    text-align: center;
    a {
        display: inline-block;
        padding: 10pt;

        img {
            vertical-align: middle;
            width: 40px;
            height: 40px;
        }

        &:hover {
            background: $grey-color-dark;
            border-radius: 5px;
        }
    }

}

.social-media-name {
    display:none;

    &:hover + div {
        :after {
            display: block;
        }

    }
}

#home-gallery {
    display: flex;
}


/**
 * Page content
 */
 .page-header {
     font-size: 20px;
     padding: $spacing-unit;
     background-color: $grey-color;
 }

 .page-title {
     font-size: 42px;
     letter-spacing: -1px;
     line-height: 1;
     text-align: center;
     @include media-query($on-laptop) {
         font-size: 36px;
     }

     a {
         display: block;
     }
 }

/* Just in case you change your mind
#back-button {
    position: absolute;
    top: 0;
    left: 0;
}
*/
.content {
    //padding: $spacing-unit 0;
}


/**
 * Journal page
 */
.read-more-wrapper {
    text-align: right;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-item {
	border: 1px solid black;
	box-sizing: border-box;
	padding: 1em;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin: 0.5*$spacing-unit $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-wrapper {

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Gallery
 */
#gallery {
	display: flex;
	margin: auto;
    flex-wrap: wrap;
    justify-content: space-around; //space-around?
    align-content: stretch;
}

 .gallery-item {
	 height: 200px;
	 margin: 0;
	 border: 1px solid black;
     flex-grow: 1;
     text-align: center;
 }

.gallery-item img {
	height: 90%;
}

.gallery-item figcaption {
	text-align: center;
}


/**
 * Artpiece
 */
.artpiece-header {
    text-align: center;
    background-color: pink;
    padding: 6pt;
}

#artpiece-img-wrapper {
	text-align: center;
}

#artpiece-img {
	max-height: 500px;
	cursor: zoom-in
}
